<script lang="ts">
  export let options;

  import init, { check_winner, find_best_move } from "tictactoe-rs";
  import x from "./assets/x.svg";
  import o from "./assets/circle.svg";

  let wasm = init();

  $: board = new Uint8Array(new Array(options.size * options.size).fill(0));
  $: depth = 11 - options.size;

  let winner = undefined;

  function checkWinner() {
    let winner_value = check_winner(board, options.size, options.win);

    if (winner_value == 9223372036854775807n) {
      winner = "ai";
      return 1;
    }
    if (winner_value == -9223372036854775808n) {
      winner = "player";
      return 2;
    }
    if (board.every((x) => x != 0)) {
      winner = "draw";
      return 3;
    }
    return 0;
  }

  function playTurn(i: number) {
    if (checkWinner() == 0) {
      board[i] = 2;
      if (checkWinner() != 0) return;
      board[find_best_move(board, options.size, options.win, depth)] = 1;
      checkWinner();
    }
  }
</script>

<main>
  {#await wasm}
    <div style="text-align: center; font-size: 3em;">Loading...</div>
  {:then}
    <div id="board" style="width: {options.size * 80 + options.size * 2}px;">
      {#each board as val, i}
        {#if val == 1}
          <div class="cell"><img src={o} alt="O" /></div>
        {/if}
        {#if val == 2}
          <div class="cell"><img src={x} alt="X" /></div>
        {/if}
        {#if val == 0}
          <div class="cell">
            <input
              type="button"
              on:click={() => {
                playTurn(i);
              }}
            />
          </div>
        {/if}
      {/each}
    </div>
  {/await}
</main>

<style>
  main {
    padding: 10px;
  }
  #board {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .cell {
    flex: 1;
    min-width: 80px;
    min-height: 80px;
    border: 1px solid gray;
  }

  img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  input {
    background-color: transparent;
    width: 100%;
    height: 100%;
    border: 0;
  }
</style>
